# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# ML and Data
.ipynb_checkpoints/
mlruns/
.mlflow/
outputs/
logs/

# Heavy Model Files and Checkpoints
# Ignore all by default
model_avancé/results_*/
model_avancé/best_model*/
model_avancé/resultat_*/
model_avancé/tmp_trainer*/
*.safetensors
*.bin
*.pth
*.pt
*.joblib
*.h5
*.ckpt
*.keras


# Cache
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Project Specific
*.app
rad.json
TestResults.xml